extends ./_layouts/weather
block weather_content
  #place-weather-title
    h1= title
  br
  .list.ot-place
    each item in (places.Items || places)
      .list-item
        .item
          a(href=links.weather.place(item.id, {ul: currentCulture.language}))= item.getName(currentCulture.language)
          if (item.region)
            div= item.region.getName(currentCulture.language)
          //- div=region.getName(currentCulture.language)
  //- if (places.LastEvaluatedKey)
  //-   .list-footer
  //-     a(class='load-more', onclick=('loadMorePlaces(this,\''+links.weather.controls.morePlaces(region.admin1_code, places.LastEvaluatedKey.id)+'\')'))= __('load_more_places')