extends ./_layouts/weather
block weather_content
  #place-weather-title
    h1= title
  br
  .list.ot-region
    each item in regions
      .list-item
        .item
          a(href=links.weather.places.byAdm1(item.admin1_code, {ul:currentCulture.language}))= item.getName(currentCulture.language)